// Import partials scss files
@use './partials/mixins' as *;
@use './partials/reset' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;

// General container
.container {
    margin: auto;
    max-width: 81.25rem;
}

//Common
a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}